
.company-name {
    font-size: 28px;
    .company-first-word{
        font-weight: 400;
         color: red;
    }
    
    .company-last-word{
        color: black;
        font-weight: 600;
        margin-left: 4px;
    }
}

.dark-mode {
    float: right;
    
  }

.cart{
    float: right;
    margin-left: 20px;
    margin-right: 40px;
}

.drawer{
    width: 250px;
    padding-inline: 25px;
    padding-top: 60px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    /* margin-top: 30px; */
}