.food-items-table {
  width: 100%;
}

.page-header {
  font-size: 40px;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 40%;
}

.modal-header {
  display: flex;
  justify-content: center;
}

.add-food-item-btn-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tbl-container {
  max-height: 73vh;
  margin-top: 20px;
  overflow: auto;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field-div {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.action-btns-div {
  margin-top: 25px;
}

.cancel-btn {
  margin-left: 25px;
}


.add-food-item-btn{
  width: auto;
  height: 38px;
}

.table-header {
  background-color: black; 
  color: white; 
}

/* Add hover effect for each row */
.food-items-table tbody tr:hover {
  background-color: #f5f5f5;
}

.edit-btn {
  background-color: #13b613 !important;
  font-size: larger;
}

.delete-btn {
  background-color: #ff0000 !important;
  font-size: larger;
}

.search-bar {
  display: flex;
  justify-content: center;
}


// width classes
.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}